client_id = "your application client id - get it from webex.developer.com"
client_secret = "your application client secret - get it from webex.developer.com"
redirect_uri = "https://www.google.com - get it from webex.developer.com"
scope = "spark:memberships_read spark:all spark:kms spark:people_read spark:rooms_read spark:teams_read spark:messages_read spark:team_memberships_read"
state = "2"
